.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata
build/
coverage/

.idea/
.vscode/

*.iml
*.log

.DS_Store
Thumbs.db

pubspec.lock

android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
linux/flutter/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/
web/.dart_tool/

assets/generated/
node_modules/
